@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Slab:wght@700&display=swap');
html {
    min-height: 100%;
    position: relative;
}
body {
    background-color: #42ACD6;
    font-family: 'Open Sans', serif;
    width: 100%;
}
a {
    text-decoration: none;
}
.no-i {
    background-color: white;
}
.corregir {
    margin: 0;
}
.container {
    margin: 1em;
}
.nmright {
    margin-right: 0em;
}
.header {
    background-color: white;
    margin-right: 0em;
    padding: 0.5em;
    border-bottom: 5px solid black;
}
.header h3, .footer h3 {
    font-weight: 400;
}
.name {
    font-family: 'Roboto Slab';
    font-weight: 500;
}
.jumbotron {
    margin-right: 0em;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 3em;
}
.jumbotron h1 {
    font-family: 'Roboto Slab';
    font-size: 4em;
    font-weight: 300;
}
.jumbotron p {
    font-size: 1.5em;
}
.ini {
    background-color: #DEEFE6;
}
.ini p {
    font-size: 2em;
}
.sec {
    padding-top: 0em;
    padding-bottom: 0em;
}
.sec h2, .sec h3, .sec h4 {
    font-weight: 400;
}
.element {
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 1%;
    padding: 1em;
    padding-top: 0;
}
.element h2 {
    font-weight: 400;
    color: white;
}
.element img {
    width: 100%;
}
.btn-stn {
    padding: 0.7em;
    color: rgb(30,30,30);
    display: block;
    border: 3px solid;
    border-radius: 15px;
}
.btn-stn h3 {
    font-family: 'Roboto Slab';
    margin: 0;
}
.btn-stn:hover {
    background-color: black;
    color: white;
}
.icn {
    width: 1em;
    height: 1em;
}
.twt {
    background-image: url('../pics/social-media-twitter.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}
.dbrown {
    background-color:rgba(230, 230, 230, 0.6);
    border-radius: 2px 2px 0px 0px;
    color: rgb(0,0,0);
}
.info-area {
    background-color: rgb(230,230,230);
}
.info-area p {
    color: black;
}
.info-area a {
    color: black;
    text-decoration: underline;
}
.info-area a:hover {
    text-decoration: none;
}
.footer {
    background-color:#5CD99E;
    color: black;
    margin-right: 0em;
    bottom:0px;
    margin-left: 0;
    width: 100%;
    padding-bottom: 2em;
}
.footer h2 {
    font-family: 'Roboto Slab';
}
.footer a {
    color: black;
}
.footer a:hover {
    color: white;
}
.icon {
    width: 1.5em;
}
h3 a, h2 a {
    font-family: 'Roboto Slab';
    text-decoration: none;
    padding: 0.5em;
    color: black;
}
h3 a:hover {
    /*border-bottom: 3px solid rgb(92, 158, 217);*/
    
    border: 3px solid rgb(62, 158, 247);
    border-radius: 15px;
}
.selected {
    border: 1px solid white;
}
#comp, #ard, #camp, #est {
    cursor: pointer;
}
#comptxt, #camptxt, #ardtxt, #estxt {
    display: none;
}