@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500&display=swap');
html {
    min-height: 100%;
    position: relative;
}
body {
    background-color: #42ACD6;
    font-family: 'Quicksand';
    width: 100%;
}
a {
    text-decoration: none;
    color: white;
}
.no-i {
    background-color: white;
}
.corregir {
    margin: 0;
}
.container {
    margin: 1em;
}
.nmright {
    margin-right: 0em;
}
.header {
    background-color:#072E3D;
    color: white;
    margin-right: 0em;
}
.header h3, .footer h3 {
    font-weight: 300;
}
.name {
    font-weight: 500;
    
}
.jumbotron {
    background-color: #42ACD6;
    color: white;
    margin-right: 0em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.jumbotron h1 {
    font-size: 5em;
    font-weight: 300;
}
.jumbotron p {
    font-size: 1.5em;
}
.ini {
    background-image: linear-gradient(#072E3D, #42ACD6);
}
.ini p {
    color: white;
    font-size: 1.2em;
}
.sec {
    padding-top: 0em;
    padding-bottom: 0em;
}
.sec h2, .sec h3, .sec h4 {
    font-weight: 400;
}
.element {
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 1%;
    padding: 1em;
    padding-top: 0;
}
.element h2 {
    font-weight: 400;
}
.element img {
    width: 100%;
}
.btn-stn {
    padding: 1em;
    background-color: rgba(230,230,230, 1);
    color: rgb(30,30,30);
    text-decoration: none;
    display: block;
    border-radius: 2px;
}
.btn-stn:hover {
    background-color: rgba(210,210,210, 0.7);
}
.dbrown {
    background-color:rgba(230, 230, 230, 0.6);
    border-radius: 2px 2px 0px 0px;
    color: rgb(0,0,0);
}
.info-area {
    background-color: rgb(230,230,230);
}
.info-area p {
    color: black;
}
.footer {
    background-color:#1D6B8A;
    color: white;
    margin-right: 0em;
    position: relative;
    bottom:0px;
    margin-left: 0;
    width: 100%;
}
.icon {
    width: 1.5em;
}
h3 a, h2 a {
    text-decoration: none;
    color: white;
}
h3 a:hover, h2 a:hover {
    color: rgb(200, 200, 200);
}
/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(7, 46, 61, 1); }
.My-Color-Theme-2-rgba { color: rgba(66, 172, 214, 1); }
.My-Color-Theme-3-rgba { color: rgba(29, 107, 138, 1); }
.My-Color-Theme-4-rgba { color: rgba(61, 33, 1, 1); }
.My-Color-Theme-5-rgba { color: rgba(138, 86, 29, 1); }